<script type="text/javascript">

$( document ).ready(function() {

  var mod0 = true; var mod1 = true; var mod2 = true; var mod3 = true;


  // Only enable the action's buttons, when at least 1 enterprise have been selected:
  $("#select_empresas").change(function(){

    // Get the selection:
    var sel = $("#select_empresas option:selected").val();
    // Enable everything, only if its a valid enterprise:
    if (sel != 'N') 
      {
        // Send a POST request, to update the session value:
        $.post('/inicio/session_config', {'idEmpresa' : sel}, function(data)
        {
          if (data == 'OK') 
          {
            // Session was succesfully activated, enable the required modules and update the enterprise in the header:
            $("#myEnterprise").html($("#select_empresas option:selected").text().trim());

            if (mod0) 
            {
              // Enable module 0 and pass the information to the hidden inputs:
              $("#btnConfigurar").attr("disabled", false); 
            };

            if (mod1) 
            {
              // Enable module 1 and pass the information to the hidden inputs:
              $("#btnRisks").attr("disabled", false); 
              $("#btnGoals").attr("disabled", false); 
              $("#btnDecisiones").attr("disabled", false); 
              $("#btnStructures").attr("disabled", false); 
              $("#btnMaps").attr("disabled", false); 
              $("#btnPriorization").attr("disabled", false);           
            };

            if (mod2) 
            {
              // Enable module 2 and pass the information to the hidden inputs:
              $("#btnSimular").attr("disabled", false);
              $("#btnVisualizar").attr("disabled", false); 
              $("#btnComparar").attr("disabled", false);                    
            };
          } 
          else
          {
            // Session could not be activated, can't enable anything! 
            $("#errorEmpresa").html("You've tried to access an unauthorized enterprise!");
          };
          
        }, "text");

        

      };

  });

});

</script>

<% 
emp = getMyEnterprise
mod0 = true
mod1 = true
mod2 = true
%>


<div style="width:100%;">
  <select style="margin-left:3%;width:300px;border-color:#DDD;height:30px;" id="select_empresas">
    <option selected disabled value="N">--- Select the enterprise to manage ---</option>
    <% @empresas.each do |e|%>
      <% if !emp.nil? && emp.id == e.id %>
      <option value='<%= e.id %>' selected>&nbsp;&nbsp;<%= e.name %></option>
      <% else %>
      <option value='<%= e.id %>'>&nbsp;&nbsp;<%= e.name %></option>
      <% end %>
    <% end %>
  </select>
  <!-- Enterprise creation only allowed to administrators -->
  <% if true %>
  <a href="../enterprises/new" style="margin-left:10px;" title="Add new enterprise"><img src="/assets/add.png"></a>
  <a href="../enterprises/edit" style="margin-left:20px;" title="Edit enterprise"><img src="/assets/edit_26.png"></a>
  <% end %>
</div>

<span style="color:red;margin-left:37px;" id="errorEmpresa"></span>

<hr>

<div style="width:100%">

  <!--  CONFIGURATION -->
  <div style="text-align:center;width:30%;float:left;border:solid 1px #DDD;min-height:610px;padding:50px 0 50px 0;">
    <div style="margin:30px;"><img src="/assets/configuration.png"></div>
    <h3 style="margin-top:15px;font-weight:100;">Configuration</h3>
    <p style="margin-left:10%;margin-right:10%;margin-top:20px;width:80%;font-size:14px;">Configure your organization's variables, such as risk scale or IT portfolio.</p>

    <div class="btn-group" style="width:100%;margin:0 25% 0 25%;">
      <button id="btnConfigurar" type="submit" class="btn btn-default" style="width:50%;" onclick="location.href='../config/riskmap'" <% if (emp.nil?) || (!mod0) %> disabled <% end %> >Risk Scale</button>
    </div>
  </div>

  <div style="width:69%;float:left;margin-left:1%;min-height:610px;">

    <!--  IT GOVERNANCE -->
    <div style="min-height:200px;border:solid 1px #DDD;margin:0 0 5px 0;">
      <div style="width:20%;float:left;padding:36px 20px 36px 20px;">
        <img src="/assets/governance.png">
      </div>

      <div style="width:80%;float:left;text-align:left;">
        <h3 style="margin-top:36px;font-weight:100;">IT Governance Model</h3>
        <p style="margin-top:20px;font-size:14px;">Configure and manage IT decisions, governance structures and decision-making archetypes. 
        </p>
        <div class="btn-group">
          <button id="btnDecisiones" type="button" class="btn btn-default" onclick="location.href='../eM/governance/decisions'" <% if (emp.nil?) || (!mod1) %> disabled <% end %> >Decisions</button>
          <button id="btnStructures" type="button" class="btn btn-default" onclick="location.href='../governance/structures'" <% if (emp.nil?) || (!mod1) %> disabled <% end %> >Governance Structures</button>
          <button id="btnMaps" type="button" class="btn btn-default" onclick="location.href='../eM/governance/decision_maps'" <% if (emp.nil?) || (!mod1) %> disabled <% end %> >Decision Maps</button>
          <button id="btnRisks" type="button" class="btn btn-default" onclick="location.href='../eEE/governance/risks'" <% if (emp.nil?) || (!mod1) %> disabled <% end %> >Risk Assessment</button>
          <button id="btnGoals" type="button" class="btn btn-default" onclick="location.href='../eEE/governance/goals'" <% if (emp.nil?) || (!mod1) %> disabled <% end %> >Goal Assessment</button>
          <button id="btnPriorization" type="button" class="btn btn-default" onclick="location.href='../eEE/priorization/escenarios'" <% if (emp.nil?) || (!mod1) %> disabled <% end %> >Prioritization Scenarios</button>
        </div>
      </div>

    </div>

  </div>



</div>
