<% if @error != nil %>
<div class="alert alert-danger">
	<%= @error %>
</div>

<% else %>
<div class="alert alert-success">
	<p>Los cambios se guardaron exitosamente</p>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-default" onclick="location.href='../inicio/inicio'">Inicio</button>
</div>

<% end %>