<p>Hello <%= @resource.email %>!</p>

<p>You have generated a request to change your password in InvestIT. It can be done through the next link:</p>


<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>If you didn't generate the request, please ignore this e-mail.</p>
<p>Your password are not going to change, until you go to the link and the updating process finishes.</p>
